/* configuration values */

:root {

  /* general */
	--bg: #444;
	--bg-content: #333;
	--bg-accent: #222;
	--text-color: #ddd;
	--action-primary: cornflowerblue;
  --font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

	/* forms */
	--bg-input: hsl(from var(--bg-content) h s 33.33%);
	--bg-input-disabled: var(--bg-content)
	--border-input: 1px solid hsl(from var(--bg-content) h s 33.33%);
	--border-input-disabled: 1px solid hsl(from var(--bg-content) h s 33.33%);
	--text-input: var(--text-color);
	--text-input-disabled: hsl(from var(--bg-content) h s 33.33%);

	/* layout */
	--gutter: 2rem;
	--radius: 0.4rem;
}

