/* forms */

label.input-button {
	cursor: pointer;
}

input,
input:is(:-webkit-autofill, :autofill),
select,
label.input-button,
textarea{
	background: var(--bg-input);
	border: var(--border-input);
	color: var(--text-input);
	padding: 1rem 1.6rem;
	margin: 0.4rem 0.2rem;
	display: inline-block;
	font-size: 1.8rem;
	border-radius: var(--radius);
	user-select: none;
	outline:none;
}

input:invalid {
	border: 1px solid red;
}

input:disabled,
textarea:disabled,
label.input-button:has(> input:disabled),
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
	background: var(--bg-input-disabled);
	border: var(--border-input-disabled);
	color: var(--text-input-disabled);
	cursor: default;
}

label input[type="radio"]:checked,
label input[type="checkbox"]:checked {
	background: var(--action-primary);
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	border: 2px solid gray;
	width: 1.5rem;
	height: 1.5rem;
	margin:0;
	padding:0;
	border-radius: 50%;
}
input[type="checkbox"] {
	border-radius: var(--radius);
}

textarea {
	outline:none;
	border-radius: var(--radius);
	max-width: 100%;
	width: 100%;
	height:15vh;
	font-family: var(--font-family);
	font-size:inherit;
	padding:var(--gutter);
}

