
/* configuration values */

:root {

  /* general */
	--bg: #444;
	--bg-content: #333;
	--bg-accent: #222;
	--text-color: #ddd;
	--action-primary: #29d;
	--action-secondary: #ccc;
	--action-danger: #f35;
	--action-warn: #FFF568;
	--action-info: #3df;
  --font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

	/* messages */
	--color-info: #000;
	--color-border-info: #cef;
	--color-bg-info: var(--action-info);

	--color-warn: #000;
	--color-border-warn: #ffc;
	--color-bg-warn: var(--action-warn);

	--color-error: #eee;
	--color-border-error: #fdf;
	--color-bg-error: var(--action-danger);
	
	/* tables */
	--color-border-table: #222;
	--color-bg-th: #222;

	/* forms */
	--bg-input: hsl(from var(--bg-content) h s 33.33%);
	--bg-input-disabled: var(--bg-content);
	--border-input-color: hsl(from var(--bg-content) h s 0%);	
	--border-input: 1px solid var(--border-input-color);
	--border-input-disabled: 1px solid var(--border-input-color);
	--text-input: var(--text-color);
	--text-input-disabled: hsl(from var(--bg-content) h s 33.33%);

	/* layout */
	--gutter: 2rem;
	--radius: 0.4rem;

	/* scrollbars */
	--color-bg-scrollbar: var(--bg);
	--color-thumb-scrollbar: var(--bg-accent);
}

