
/* configuration values */

:root {

  /* general */
	--bg: #444;
	--bg-content: #333;
	--bg-accent: #222;
	--text-color: #ddd;
	--action-primary: cornflowerblue;
  --font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

	/* messages */
	--color-info: #eee;
	--color-border-info: #ccf;
	--color-bg-info: #00AEEF;
	--color-warn: #024;
	--color-border-warn: #ffc;
	--color-bg-warn: #FFF568;
	--color-error: #eee;
	--color-border-error: #fdd;
	--color-bg-error: #f33;

	/* forms */
	--bg-input: hsl(from var(--bg-content) h s 33.33%);
	--bg-input-disabled: var(--bg-content);
	--border-input-color: hsl(from var(--bg-content) h s 0%);	
	--border-input: 1px solid var(--border-input-color);
	--border-input-disabled: 1px solid var(--border-input-color);
	--text-input: var(--text-color);
	--text-input-disabled: hsl(from var(--bg-content) h s 33.33%);

	/* layout */
	--gutter: 2rem;
	--radius: 0.4rem;
}


/* css reset */

* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%; /* honor user defaults */
}

body {
  box-sizing: border-box;
  font-size: 1rem;
	font-family: var(--font-family);
	color: var(--text-color);
	background: var(--bg);
}

input,
textarea {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}


/* layout */

.header, .footer {
	padding: var(--gutter);
	background: var(--bg-accent);
}

.row {
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	max-width:100%;
}

.column {
	display:flex;
	flex-direction:column;
}

.gutter {
	margin: var(--gutter);
}

.center-self {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.region {
	border: 1px solid transparent;
}

/* layout navigation */

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.nav a:first-of-type {
	display: flex;
	align-items: center;
}

/* layout masthead */

.masthead {
	border: 1px solid transparent;
	background: var(--bg-accent);
	text-align: center;
}
.masthead h1 {
	font-size: calc(2rem + 2.7vw);
}
.masthead p {
	font-size: calc(1rem + 1vw);
	width:68vw;
	margin:0 auto;
}

/* layout cards */

.card {
	width:33%;
}
.card img:first-of-type,
.card svg:first-of-type{
	margin: 0 auto;
	display: block;
}
.card .frame {
	border-radius: var(--radius);
	border: 1px solid transparent;
	box-shadow: black 0.1rem 0.1rem .5rem;
	margin: var(--gutter);
	padding: var(--gutter);
	background: var(--bg-content);
	overflow: hidden;
	position:relative; /* allows .stretched-link to make the whole frame clickable */
}
.card .frame.transparent {
	box-shadow: none;
	background:none;
}

.card .frame .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

@media only screen and (max-width: 767px) {
	.card { width: 100% }
}



/* Typography */

body {
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--text-color);
}

p {
	margin: 2rem 0rem;
}

ul, ol {
	margin: 2rem 0rem;
}

li {
	margin-left: 2rem;
}

a, a:visited, a:active, a:focus, a:hover {
	color: var(--action-primary);
	text-decoration: none;
}


/* buttons */

button, .button, a.button {
	background-color: var(--action-primary);
	border:none;
	padding: 0.75rem 1.25rem;
	margin: 0.4rem 0.2rem;
	display: inline-block;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	font-size: 1.25rem;
	color: var(--text-color);
	text-shadow:0px 0px 1rem hsl(from var(--action-primary) h s 0%);
	user-select:none;
	border-radius: var(--radius);
}

button:active, .button:active {
	background-color: var(--action-primary);
}

button.transparent, .button.transparent {
	text-shadow: none;
	background:none;
}

button.box-button, .button.box-button {
	border-radius:0;
	width: 100%;
	margin: 0;
}


/* forms */

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: var(--border-input);
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-input) inset;
}

label {
	display: block;
}

label.input-button {
	cursor: pointer;
}

input,
input:-webkit-autofill,
input:autofill,
select,
label.input-button,
textarea{
	background: var(--bg-input);
	border: var(--border-input);
	color: var(--text-input);
	padding: 0.5rem 1rem;
	margin: 0.4rem 0.2rem;
	display: inline-block;
	border-radius: var(--radius);
	user-select: none;
	outline:none;
}

input:invalid {
	border: 1px solid red;
}

input:disabled,
textarea:disabled,
label.input-button:has(> input:disabled),
select:disabled,
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
	background: var(--bg-input-disabled);
	border: var(--border-input-disabled);
	color: var(--text-input-disabled);
	cursor: default;
}

label input[type="radio"]:checked:disabled,
label input[type="checkbox"]:checked:disabled {
	background: hsl(from var(--action-primary) h 50% 33%);
}

label input[type="radio"]:checked,
label input[type="checkbox"]:checked {
	background: var(--action-primary);
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	border: 2px solid gray;
	width: 1rem;
	height: 1rem;
	margin:0;
	padding:0;
	border-radius: 50%;
}
input[type="checkbox"] {
	border-radius: var(--radius);
}

textarea {
	outline:none;
	border-radius: var(--radius);
	max-width: 100%;
	width: 100%;
	height:15vh;
	font-family: var(--font-family);
	font-size:inherit;
	padding:var(--gutter);
	margin:0;
}


/* grid */

.grid-container {
	display: grid;
	gap: var(--gutter);
}

.with-two-columns   { grid-template-columns: repeat(2, 1fr); }
.with-three-columns { grid-template-columns: repeat(3, 1fr); }
.with-four-columns  { grid-template-columns: repeat(4, 1fr); }
.with-five-columns  { grid-template-columns: repeat(5, 1fr); }
.with-six-columns   { grid-template-columns: repeat(6, 1fr); }

.as-two-columns   { grid-column: span 2; }
.as-three-columns { grid-column: span 3; }
.as-four-columns  { grid-column: span 4; }
.as-five-columns  { grid-column: span 5; }
.as-six-columns   { grid-column: span 6; }

@media only screen and (max-width: 767px) {
	.with-two-columns   { grid-template-columns: repeat(1, 1fr); }
	.with-three-columns { grid-template-columns: repeat(1, 1fr); }
	.with-four-columns  { grid-template-columns: repeat(1, 1fr); }
	.with-five-columns  { grid-template-columns: repeat(1, 1fr); }
	.with-six-columns   { grid-template-columns: repeat(1, 1fr); }

	.as-two-columns   { grid-column: span 1; }
	.as-three-columns { grid-column: span 1; }
	.as-four-columns  { grid-column: span 1; }
	.as-five-columns  { grid-column: span 1; }
	.as-six-columns   { grid-column: span 1; }
}

/* Messages */

div.errors {
	text-transform: uppercase;
	color: var(--color-error);
	border: 2px solid var(--color-border-error);
	border-radius: var(--radius);
	background: var(--color-bg-error);
	margin-top:var(--gutter);
	margin-bottom:var(--gutter);
}

div.info {
	color: var(--color-info);
	border: 2px solid var(--color-border-info);
	border-radius: var(--radius);
	background: var(--color-bg-info);
	margin-top:var(--gutter);
	margin-bottom:var(--gutter);
}

div.warn {
	color: var(--color-warn);
	border: 2px solid var(--color-border-warn);
	border-radius: var(--radius);
	background: var(--color-bg-warn);
	margin-top:var(--gutter);
	margin-bottom:var(--gutter);
}
