/* layout */

.header {
	padding: var(--gutter);
	background: var(--bg-accent);
}
.row {
	display: flex;
	flex-direction:row;
	max-width:100%;
}
.column {
	display:flex;
	flex-direction:column;
}
.justify-content-center {
	justify-content:center;
}

/* navigation */
.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav a:first-of-type {
	display: flex;
	align-items: center;
}


.gutter {
	margin: var(--gutter);
}

/* masthead */
.masthead {
	background: var(--bg-accent);
	text-align: center;
}
.masthead h1 {
	font-size: calc(2rem + 2.7vw);
}
.masthead p {
	font-size: calc(1rem + 1vw);
	width:68vw;
	margin:0 auto;
}

/* cards */
.card {
	display:block;
	width:33%;
}
.card img:first-of-type,
.card svg:first-of-type{
	margin: 0 auto;
	display: block;
}
.card .frame {
	border-radius: 1rem;
	box-shadow: black 5px;
	margin: var(--gutter);
	padding: var(--gutter);
	background: var(--bg-content)
}
.card .frame.transparent {
	box-shadow: none;
	background:none;
}


