
/* Typography */

body {
	letter-spacing: 0.05rem;
	line-height: 1.5rem;
  font-size: 1rem;
	font-family: var(--font-family);
	color: var(--text-color);
}

h1, h2, h3 {
	margin: 1.5rem 0;
  color: var(--text-color);
}

p {
	margin: 1.5rem 0rem;
}

ul, ol {
	margin: 1.5rem 0rem;
}

li {
	margin-left: 2rem;
}

a, a:visited, a:active, a:focus, a:hover {
	color: var(--action-primary);
	text-decoration: none;
}

