
/* grid */

.grid-container {
	display: grid;
	gap: var(--gutter);
	grid-auto-rows: minmax(auto, auto);
	grid-template-rows: masonry;
}

.with-two-columns{
	grid-template-columns: repeat(2, 1fr);
}

.with-three-columns{
	grid-template-columns: repeat(3, 1fr);
}

.with-four-columns{
	grid-template-columns: repeat(4, 1fr);
}

.with-five-columns{
	grid-template-columns: repeat(5, 1fr);
}

.with-six-columns{
	grid-template-columns: repeat(6, 1fr);
}

.is-two-columns {	grid-column: span 2; }
.is-three-columns {	grid-column: span 3; }
.is-four-columns {	grid-column: span 4; }
.is-five-columns {	grid-column: span 5; }
.is-six-columns {	grid-column: span 6; }

.is-fill-space { width:100% }
