
/* css reset */

* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%; /* honor user defaults */
}

body {
  box-sizing: border-box;
  font-size: 1rem;
	font-family: var(--font-family);
	color: var(--text-color);
	background: var(--bg);
}

input,
textarea {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

