/* layout */

.header, .footer {
	padding: var(--gutter);
	background: var(--bg-accent);
}

.row {
	display: flex;
	flex-direction:row;
	max-width:100%;
}
.column {
	display:flex;
	flex-direction:column;
}

.gutter {
	margin: var(--gutter);
}

.center-self {
	margin-left: auto;
	margin-right: auto;
}

/* layout navigation */

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav a:first-of-type {
	display: flex;
	align-items: center;
}

/* layout masthead */

.masthead {
	border: 1px solid transparent;
	background: var(--bg-accent);
	text-align: center;
}
.masthead h1 {
	font-size: calc(2rem + 2.7vw);
}
.masthead p {
	font-size: calc(1rem + 1vw);
	width:68vw;
	margin:0 auto;
}

/* layout cards */

.card {
	display:block;
	width:33%;
}
.card img:first-of-type,
.card svg:first-of-type{
	margin: 0 auto;
	display: block;
}
.card .frame {
	border-radius: var(--radius);
	border: 1px solid transparent;
	box-shadow: black 5px;
	margin: var(--gutter);
	padding: var(--gutter);
	background: var(--bg-content);
	overflow: hidden;
	position:relative; /* allows .stretched-link to make the whole frame clickable */
}
.card .frame.transparent {
	box-shadow: none;
	background:none;
}

.card .frame .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

